<%= javascript_pack_tag 'shortlinks' %>

<%= form_with model: @shortlink, html: { class: "needs-validation", novalidate: true } do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %><br>
    <%= form.text_field :title, class: 'form-control', maxlength: 30 %>
  </div>

  <div class="mb-3">
    <%= form.label :destination, class: 'form-label' %><br>
    <%= form.text_field :destination, class: 'form-control', maxlength: 100 %>
  </div>

  <div class="mb-3">
    <%= form.label :back_half, class: 'form-label' %><br>
    <%= form.text_field :back_half, class: 'form-control', maxlength: 20 %>
  </div>

  <div>
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Back', :back, class: 'btn btn-secondary' %>
  </div>
<% end %>